@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600&family=Dancing+Script:wght@500;600;700&family=Oswald:wght@400;500;600;700&family=Source+Code+Pro:wght@300;400;500;600;700;800&display=swap');
/*
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Source Code Pro', monospace;

*/

.logo-word-one{
    font-family: 'Oswald', sans-serif;
}
.logo-word-two{
    font-family: 'Caveat', cursive;
    
}
.navigation-wrapper{
    font-family: 'Caveat', cursive;
 
}